*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    
}
.element {
    @include clearfix;
  }

header{
    justify-content: space-between;
    display: flex;
    background-color: #007cc0;
    height: 50px;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 15;
    width: 100%;
}

.bg-light {
    background-color: #f8f9fa00!important;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    display: initial;
}

.header__left img{
    height: 40px;
    width: 60px;
}
.carousel button{
    color: white;
    background-color: red;
    border: 2px solid white;
    border-radius: 1.95rem;
    height: 35px;
    width: 150px;
    font-weight: 700;
}

.carousel button:hover{
    color: red;
    background-color: white;
}

.carousel-indicators li{
    background-color: rgb(33, 152, 220);
    margin: 0 5px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

.nav-link{
    background-size: 200% 200%;
    transition: color .5s ease;
}

.nav-link:hover{
    
    background-image: linear-gradient(
        180deg
        ,#fff 50%,transparent 0);
    color: #00324f;
    background-position: 0 0;
}


dl, ol, ul {
    margin-bottom: -2rem;
}

.carousel-item img{
    height: 550px;
    background-position: center;
    object-fit: cover;
}

.imgboth__left{
    background-image: url(../img/MY22_Civic_Sedan_Future_Gallery_1400.jpg);
    height: 370px;
    width: 576,5px;
    background-size: cover;
    background-position: center;
}
.imgboth__right{
    background-image: url(../img/Autos_Pilot1_Homepage_1400.webp);
    height: 370px;
    width: 576,5px;
    background-size: cover;
    background-position: center;
}

.header__leftboth button  {
        transform: translate( -50%);
        position: absolute;
        bottom: 40px;
        left: 50%;
        width: 150px;
        height: 45px;
        border-radius: 1.95rem;
        background-color: #337ab7;
        color: #fff;
        border: 2px solid#337ab7;
        font-weight: 700 ;
}

.header__leftboth button:hover{
    background-color: transparent;
    color: #337ab7;
    border: 2px solid#337ab7;
}

.header__leftboth{
    margin-top: 100px;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.carousel-item {
    position: relative;
}
.slider__title2{
    position: absolute;
     bottom: 50px; 
    width: 100%;
    color: white;
    text-align: center;
}
.slider__title2 a{
    padding: 5px 20px;
    outline: none;
    background-color: red;
    color: white;
    border-radius: 20px;
    border: 2px solid white;
 
}
/* VEHICLES */
.vehicles{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.vehicles__title h2{
    color: #06456a;
    font-size: 3rem;
    font-weight: 300;
}
.vehicles__items {
    width: 75%;
    margin: auto;
    font-size: .7rem;
    font-weight: 800;
}
.vehicles__items a{
    color: #00324f;
}
.vehicles__items .nav-item{
    margin: 0 24px;
}
.vehicles__slider .carousel-item img{
    height: 500px;
}
.vehicles__slider .carousel-control-prev{
    justify-content: left;
}
.vehicles__slider .carousel-control-next{
    justify-content: flex-end;
}
.slider__title2{
    width: 30%;
    text-align: left;
    top: 100px;
    left: 50px;
}
.slider__title2 .logo svg{
    width: 300px;
}
.slider__title2 p{
    font-size: 12px;
    padding-top: 20px;
}
.stats {
    display: flex;
    justify-content: center;
}
.stats .msrp{
    margin-right: 30px;
}
.stats .rating{
    margin-right: 30px;
}
.stats .stat{
    font-size: 2.5rem;
    font-weight: 100;
}
.stats .label{
    font-size: .8rem;
}
.actions {
    margin-right: 30px;
    padding: 5% 0;
}
.actions a{
    margin-right: 30px;
}
.actions a:last-child{
    color: red;
    background-color: white;
    border: 2px solid red;
}
#pre-owner .actions a{
    color: white;
    background-color: #007cc0;
    border: 2px solid white;
}
#future .actions a{
    color: white;
    background-color: #007cc0;
    border: 2px solid white;
}

.hondaOption{
    background-color: #F5F5F5;
}
.hondaOption__item{
    background-color: white ;
    border-radius: 10px;
    height: 250px;
    width: 310px;
    padding: auto 0;
}
.hondaOption__inner{
    text-align: center;
}
.hondaOption__content{
    margin: 0 20px;

}
.hondaOption__item i{
    font-size: 70px;
    margin: 20px 0;
    color: #00324F;

}
.hondaOption__item h3{
    font-size: 15px;
    font-weight: bold;
    margin: 1rem 0 2rem;
    color: #00324F;
}
/* chưa hover  */
.hondaOption__item button{
    font-weight: bold;
    color: white;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: #007cc0;
}
.hondaOption__item button:hover{
    background-color: white;
    border: 2px solid #007cc0;
    color: #007cc0;
}

/* CERTIFIED */
.hondaCertified__left{
    background-image: url(../img/homepage-certified.webp);
    height: 370px;
    width: 576,5px;
    background-size: cover;
}
.hondaCertified__right{
    background-image: url(../img/homepage-howToVideo.webp);
    height: 370px;
    width: 576,5px;
    background-size: cover;
}
.hondaCertified{
    background-color: #F5F5F5;
}
.hondaCertified__content{
    position: relative;
}
.hondaCertified__left button{
    text-align: center;
    width: 150px;
    height: 35px;
    font-size: 15px;
    border-radius: 20px;
    border: none;
    background-color: #2198dc;
    color: white;
    font-weight: bold;
    position: absolute;
    margin-top: 53%;
    left: 50%;
    transform: translateX(-50%);

}
.hondaCertified__left button:hover {
    border: 2px solid #2198dc;
    color: #2198dc;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.25s;
}
.hondaCertified__left p{
    position: absolute;
    margin-top: 60%;
    color: white;
    left: 50%;
    transform: translateX(-50%);
}
.hondaCertified__right button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background-color: #2198dc;
    border-radius: 20px;
    width: 50px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    color: white
}
.hondaCertified__right button:hover {
    border: 2px solid #2198dc;
    color: #2198dc;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.25s;
}
.hondaCertified__right p:first-of-type{
    text-align: center;
    padding-top: 37%;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}
.hondaCertified__right p:last-of-type{
    text-align: center;
    padding: 0 40px;
    margin-bottom: 20px;
    color: white;
}
/* DISCOVER */
.hondaDiscover{
    position: relative;
}
.hondaDiscover__grid img{
    width: 100%;
    height: 178px;
}
.hondaDiscover__text h2{
    font-size: 4rem;
    font-weight: lighter; 
    color: #00324f;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.hondaDiscover__text p{
    text-align: center;
    color: #00324f;
    margin-bottom: 20px;
}
.hondaDiscover__grid iframe{
    width: 100%;
    height: 178px;
}
.hondaDiscover__content{
    height: 530px;
    position: relative;
}
.hondaDiscover__content p:first-of-type{
    font-size: 15px;
    font-weight: bold;
    color: #00324f;
    text-align: center;
    padding: 20px 60px 30px 60px;
    height: 90px;
}
.hondaDiscover__content p:last-of-type{
    font-size: 15px;
    color: #00324F;
    text-align: center;
    font-weight: 400px;
    height: 150px;
    padding: 0 30px;
}

.hondaDiscover__content button{
    width: 140px;
    height: 35px;
    background-color: #007cc0;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    color: white;   
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.hondaDiscover__content button:hover{
    background-color: white;
    color: #007cc0;
    border: solid 2px #007cc0;
}

.hondaDiscover__more button{
    border: none;
    background-color: #e42525;
    width: 250px;
    height: 35px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    margin-bottom: 50px;
}

.hondaDiscover__more button:hover{
    background-color: white;
    border: solid 2px #e42525;
    color: #e42525;   
}

/* FOOTER  */
.footer{
    background-color: #F5F5F5  ;
}
.footer hr{
    margin-top: 150px;
    color: #00324F; 
    border: solid 3px #007cc0;
}
.footer__logo a svg{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    fill: #007cc0;
    height: 90px;
    width: 138px;
    text-align: center;
}
.footer__stay p{
    color: #00324f;
}
.footer__stay hr{
    border: solid 1px;
    color: gray;
    margin-top: 130px;
}
.footer__stay hr:last-of-type{
    margin-top: 10px;
}
.footer__stay p{
    font-size: 15px;
    color: #00324F;
    font-weight: bold;
    padding-left: 30px;
}
.footer__icon{
    padding-left: 20px;
}
.footer__icon i{
    color:#F5F5F5;
    background-color: #2198dc;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    padding-top: 7px;
    margin: 5px 5px;
    font-size: 15px;
}
.footer__search input{
    box-shadow: inset 2px 2px 5px 0px rgb(0 0 0 / 15%);
    border: none;
    border-radius: 20px;
    color: #00324f;
    margin-top: 30px ;
}
.footer__search input::placeholder{
    color: #007cc0;
}
.footer__informed button{
    border: solid 3px #2198dc;
    background-color: white;
    color: #2198dc;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    height: 35px;
    width: 180px;
    margin-right: 0px;
    position: absolute;
    right: 10%;   
}
.footer__informed button:hover{
    color: white;
    background-color: #2198dc;
    border: solid 3px #2198dc;
}
.footer__informed p{
    text-align: right;
    padding-right: 30px;
}
.footer__detail{
    display: flex;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.footer__item h5{
    font-size: 15px;
    font-weight: bold;
    color: #00324F;
    margin-bottom: 13px;
}
.footer__detail ul{
    list-style: none;
    padding-left: 0;
    padding-right: 30px;
}
.footer__detail a{ 
    font-size: 13px;
    color: #00324F;
    padding-top: 20px;
}
.footer__item{
   width: 100%;
}
.footer__honda{
    background-color: #2198dc;
    color: white;
    font-size: 13px;
    padding: 30px 10px;
    
}
.footer__hondaLeft{
    padding-left: 30px;
}
.footer__hondaLeft a{
    color: white;
    font-weight: bold;
}
.footer__hondaRight{
    text-align: right;
    margin-left: 20%;
    line-height: 30px;
}
.footer__hondaRight a{
    color: white;
    text-align: right;
}
.footer__hondaRight a::after{
    content: "|";
    margin: 0 5px;
}
.footer__hondaRight a:last-of-type::after{
    content: " ";
}
.footer__hondaRight a:nth-of-type(4):after{
    content: " ";
}
.footer__hondaLogo{
    display: flex;
    justify-content: space-between;
    padding: 50px 30px;
    fill: white;
    background-color: #2198dc;
}
.footer__cookies{
    display: flex;
    justify-content: space-between;
    width: 45%;
    background-color: #2198dc;
    color: white;
    font-size: 13px;
    padding-left: 30px;
    padding-bottom: 30px;
}
.footer__cookies span a{
    color: white;
    font-weight: bold;
}
.footer__logo{
    background-color: #2198dc;
}
.hondaDiscover__video{
    position: relative;
    
}

.hondaDiscover .myvenobox{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
}
.hondaDiscover i{
    margin-left: 20px;
    margin-top: 15px;
}
.hondaDiscover .myvenobox:hover{
    background-color: #62c7ff;
    color: white;
}


.backToTop{
    /* thẻ a là inline nên kh xét được kích thước  */
    /* Muốn thay đổi thì đổi sang thẻ block  */
    display: block;
    position: fixed;
    right: 20px;
    bottom: 20px;

    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
    background-color: #007cc0;
    border-radius: 4px;

    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {   
    visibility: visible;
    opacity: 1;
  }